<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">Dashboard</span>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search..." #search>
            <i class='bx bx-search' routerLink='/dashbord/contact'></i>
        </div>
    </nav>

    <div class="home-content">
        <div class="overview-boxes">
            <div class="box">
                <div class="right-side">
                    <div class="box-topic mb-3">Utulisateurs</div>
                    <div class="number">{{users.length}}</div>
                </div>
                <i class='bx bxs-user cart'></i>
            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic mb-3">Offres</div>
                    <div class="number">{{offersCount}}</div>
                </div>
                <i class='bx bxs-briefcase cart two'></i>
            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic mb-3">Recruteurs</div>
                    <div class="number">{{recruters.length}}</div>
                </div>
                <i class='bx bxs-user-voice cart three'></i>
            </div>
            <div class="box">
                <div class="right-side ">
                    <div class="box-topic mb-3">Etudiants</div>
                    <div class="number">{{students.length}}</div>
                </div>
                <i class='bx bxs-graduation cart four'></i>
            </div>
        </div>

        <div class="sales-boxes">
            <div class="recent-sales box">
                <div class="title">Reclamations</div>
                <div class="sales-details">
                    <table class="table  rounded1 shadow-sm  table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Télephone</th>
                                <th scope="col">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contact of contacts | contact:search.value">
                                 <td>{{contact?.name}}</td>
                                 <td>{{contact?.email}}</td>
                                 <td>{{contact?.phone}}</td>
                                 <td>{{contact?.message}}</td>
                                 <td> <button  class="btn" (click)="deleteContact(contact.id)"><i class='bx bxs-x-circle x'></i></button></td>
                             </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>